<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e3520b516e5245e285d93b9b436819be {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e3520b516e5245e285d93b9b436819be" ></div>
        
</body>
<script>    
    
            var map_e3520b516e5245e285d93b9b436819be = L.map(
                "map_e3520b516e5245e285d93b9b436819be",
                {
                    center: [9.99871, 137.975],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bf8cb9a93d9e42c6803d476804505ce1 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e3520b516e5245e285d93b9b436819be);
        
    
            var circle_marker_4208eedc11614f8c930c24245a80ed33 = L.circleMarker(
                [9.99871, 137.975],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_e3520b516e5245e285d93b9b436819be);
        
    
        var popup_c28996f46b7a4779a4b4b76248de3bdd = L.popup({"maxWidth": "100%"});

        
            var html_57e3762d75c2433c97dc09e048a52cd9 = $(`<div id="html_57e3762d75c2433c97dc09e048a52cd9" style="width: 100.0%; height: 100.0%;">Start location</div>`)[0];
            popup_c28996f46b7a4779a4b4b76248de3bdd.setContent(html_57e3762d75c2433c97dc09e048a52cd9);
        

        circle_marker_4208eedc11614f8c930c24245a80ed33.bindPopup(popup_c28996f46b7a4779a4b4b76248de3bdd)
        ;

        
    
    
            var circle_marker_7d029152c6b44015a734e640c48553c8 = L.circleMarker(
                [37.4551, 126.95],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_e3520b516e5245e285d93b9b436819be);
        
    
        var popup_f98feb84f65c496e863b625cccdedc9c = L.popup({"maxWidth": "100%"});

        
            var html_fc151088717e45829dfaba415198e6df = $(`<div id="html_fc151088717e45829dfaba415198e6df" style="width: 100.0%; height: 100.0%;">last location</div>`)[0];
            popup_f98feb84f65c496e863b625cccdedc9c.setContent(html_fc151088717e45829dfaba415198e6df);
        

        circle_marker_7d029152c6b44015a734e640c48553c8.bindPopup(popup_f98feb84f65c496e863b625cccdedc9c)
        ;

        
    
    
                var lat_lng_popup_0843394ead1e464b9aa186461526cbe7 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_0843394ead1e464b9aa186461526cbe7
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_e3520b516e5245e285d93b9b436819be);
                    }
                map_e3520b516e5245e285d93b9b436819be.on('click', latLngPop);
            
</script>